<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<p>
  <%= @company.email %> has invited you to join them.
</p>
<p>
  To set your password, click the URL below.
</p>
<p> <a href="/localhost:3000/password_reset?token=<%= @owner.password_reset_token %>"> Click Here </a>
</p>
<p>
  If you did not request your password to be reset, just ignore this email and your password will continue to stay the same.
</p>
</body>
</html>
